.main_supdiv {
    display: flex;
    align-items: center;
    gap: 140px;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.auth-card {
    background: #fff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-right: 40px;
}

.auth-card:hover {
    transform: translateY(-5px);
}

.auth-card h2 {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.auth-card input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.auth-card input:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 5px rgba(79, 70, 229, 0.5);
}

.auth_btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #4f46e5, #6366f1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.auth_btn:hover {
    background: linear-gradient(90deg, #6366f1, #4f46e5);
}

.switch-auth {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    font-size: 14px;
}

.switch-auth span {
    color: #4f46e5;
    cursor: pointer;
    font-weight: bold;
}

.error {
    color: #f43f5e;
    font-size: 14px;
    margin-bottom: 10px;
}

.google_div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #4f46e5, #6366f1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    gap: 20px;
    padding-left: 40px;
    padding-right: 20px;
    transition: 0.3s;
}

.google_btn {
    font-family: "Playwrite NO", cursive;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
    background: none;
}