.cart-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background: #f9fafb;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.cart-container h2 {
  text-align: center;
  font-size: 28px;
  color: #1f2937;
  margin-bottom: 20px;
}

.empty-cart {
  text-align: center;
  color: #6b7280;
  font-size: 18px;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.cart-item {
  width: 300px;
  height: 260px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #4f46e5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  transition: .3s ease;
}

.cart-item:hover {
  box-shadow: 0 0 20px 20px #6365f14a;
}

.cart-page {
  padding: 20px;
}

.savat_h2 {
  color: #4f46e5;
  font-family: "Playwrite NO", cursive;
  margin-bottom: 20px;
}

.cart-card {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.cart-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.cart-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.cart-info h3 {
  font-size: 16px;
  color: #111827;
  margin: 5px 0;
  text-align: center;
}

.cart-info p {
  font-weight: bold;
  color: #4f46e5;
  margin: 0;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #eef2ff;
  border-radius: 15px;
}

.cart-summary p {
  font-size: 18px;
  font-weight: bold;
  color: #1f2937;
}

.cart-summary span {
  color: #4f46e5;
}

.checkout-btn {
  background: linear-gradient(90deg, #4f46e5, #6366f1);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn:hover {
  background: linear-gradient(90deg, #6366f1, #4f46e5);
}

@media screen and (max-width: 768px) {
  .cart-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .cart-items {
    grid-template-columns: 1fr;
  }

  .cart-summary {
    flex-direction: column;
    gap: 15px;
  }
}