.profile-page {
    width: 90%;
    margin: 40px auto;
    font-family: Arial, sans-serif;
  }
  
  .profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #cfcfcf;
  }
  
  .profile-table th,
  .profile-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
  
  .profile-table th {
    background: #f5f5f5;
  }
  
  .profile-table img {
    border-radius: 6px;
  }
  

  .profile_h2{
    text-align: end;
  }

  .profile_p{
    text-align: end;
    margin-top: 10px;
  }

  .profil{
    text-align: end;
    font-size: 22px;
  }