.about-container {
  padding-left: 30px;
}

.about-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  font-family: "Quicksand", sans-serif;

}

.about-text {
  font-size: 15px;
  color: #4b5563;
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  width: 400px;
}


.main_about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box_container {
  display: flex;
  margin-top: 60px;
  align-items: center;
  gap: 120px;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
  height: 200px;
}

.box_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  padding: 10px;
  transition: .3s;
  border: 1px solid grey;
  border-radius: 10px;
}

.box_div:hover {
  background-color: #DB4444;
  border-radius: 10px;
  color: white;
}

.bold_p {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
}

.text_p {
  font-family: "Quicksand", sans-serif;
}




.main_people_div {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.people_div {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 30px;
}

.c_name {
  font-weight: 600;
  font-size: 25px;
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
}

.c_p {
  font-family: "Quicksand", sans-serif;

}








footer {
  width: 100%;
  margin-top: 100px;
  height: 400px;
  background-color: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 40px;
}
.main_footer_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot1 {
  line-height: 50px;
}

.f1_h5 {
  font-weight: 700;
  font-size: 26px;
}

.inp1 {
  border: none;
  outline: none;
  background: none;
  color: white;
}

.icon_img{
  cursor: pointer;
}

.input_div {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border: 2px solid white;
}

.img_div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.instal_apps{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}