.profile-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 15px;
  font-family: Arial, sans-serif;
}

.profile-card,
.orders-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.profile-card h2,
.orders-card h3 {
  margin-bottom: 15px;
  color: #333;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.item-name {
  font-weight: bold;
  color: #555;
}

.item-price {
  color: #888;
}





.h3_p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 30px;
}

.li_p {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}