/* Navbar container */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.navbar {
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;

  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  z-index: 50;
  padding: 40px;
}

/* Logo */
.logo {
  font-size: 25px;
  font-weight: bold;
  color: #2563eb;
}

/* Desktop menu */
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.menu li a,
.menu li span {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.menu li a:hover,
.menu li span:hover {
  color: #2563eb;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 18px;
  left: 0;
  width: 130px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  display: none;
  list-style: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdown-menu li:hover {
  background: #f1f5f9;
}

/* Mobile button */
.mobile-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile menu */
.mobile-menu {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 17px;
}

.mobile-menu details {
  cursor: pointer;
}

.mobile-menu details ul {
  margin-left: 20px;
  margin-top: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .mobile-btn {
    display: block;
  }
}